body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 0;
}

.header {
    background-color: #1F2937;
    flex: 1;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

.header li {
    font-size: 18px;
    color: #E5E7EB;
}

.header .hero.heading {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF9;
}

button {
    background-color: #3882F6;
}

.info {
    flex: 1;
}

.info.heading {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937
}

.quote {
    flex: 1;
    background-color: #E5E7EB;
}

.quote.text {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937
}

.bottom-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.action-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-call.container {
    background-color: #3882F6;
    padding: 12px 48px;
    
}

.footer {
    background-color: #1F2937;
}


