body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 0;
}

.top-block {
    background-color: #1F2937;
    flex: 1;
    padding: 0 96px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

.header li {
    font-size: 18px;
    color: #E5E7EB;
}

.top-block .hero.heading {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF9;
}

.hero {
    display: flex;
    gap: 24px;
}

.hero .content {
    flex: 1;
    color: #F9FAF9;
}

.hero .image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    color: #F9FAF9;
}

button {
    background-color: #3882F6;
    color: #F9FAF9;
}

.info {
    flex: 1;
    padding: 0 96px;
}

.info.heading {
    font-family: Verdana, sans-serif;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 24px;
}

.info-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.info-card {
    text-align: center;
    /* display: flex; */
}

.info-image {
    height: 120px;
    width: 120px;
    margin: auto;
    border-style: solid;
    border-width: 2px;
    border-color: #3882F6;
}

.quote {
    flex: 1;
    background-color: #E5E7EB;
    padding: 0 96px;
}

.quote.text {
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
    padding: 0;
}

.bottom-block {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.action-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.action-call.container {
    background-color: #3882F6;
    padding: 12px 96px;
    
}

.footer {
    background-color: #1F2937;
}


